{% extends "template/base1.html.twig" %}

{#{ include('template/base1.html.twig') }#}

{% block  headerScripts %}
	<link href="/web/dist/css/style-dm.css" rel="stylesheet" type="text/css">

{% endblock %}	

{% block winModal_01 %}

	<div class="win-modal-content">
		<div class="row">
			<h4 class="panel-title">SELECCIONAR</h4>
			<h4 class="panel-title" style="font-size:1.1rem;color:#8cadca">CLIENTE</h4>
			<div class="col-md-12 col-lg-12">
				<div class="form-group mb-0">
					<div class="input-group mb-15 search-dronem-01"> <span class="input-group-btn">
						<button type="button" class="btn  btn-danger btn-search-dm-client"><i class="fa fa-search"></i></button>
						</span>
						<input type="text" id="txtSearchClient" name="txtSearchClient" class="form-control" placeholder="Buscar">
					</div>
				</div>
				<div class="panel-wrapper collapse in">
					<div  class="panel-body row pa-0">
						<div class="table-wrap">
							<div class="table-responsive">
							  <table id="tblCliente" class="table table-hover mb-0" style="width:100%">
								<thead>
								  <tr>
									<th>#</th>
									<th>Compañia</th>
								</tr>
								</thead>
								<tbody>
								  <tr>
									<td></td>
									<td></td>
								  </tr>	
								</tbody>
							  </table>
							</div>

						</div>
						<div  id="newpPaginsClient" class="dataTables_wrapper dt-bootstrap4 no-footer pb-4" >
						</div>
						<div class="dataTables_wrapper dt-bootstrap4 no-footer pb-4" >
							<div class="row form-group">
								<div class="col-lg-6 col-md-12">
								</div>
								<div class="col-lg-3 col-md-12">
								</div>
								<div class="col-lg-3 col-md-12 text-center">
									<a href="#" class="btn btn-dark dm-close-all-01">Todos</a>
									<a href="#" class="btn btn-dark dm-close-window-01">Retornar</a>
								</div>
							</div>
						</div>
					</div>	
				</div>				
			</div>
		</div>
	</div>

{% endblock %}

{% block winModal_02 %}

	<div class="win-modal-content">
		<div class="row">
			<h4 class="panel-title">SELECCIONAR</h4>
			<h4 class="panel-title"  style="font-size:1.1rem;color:#8cadca">USUARIO GESTOR</h4>
			<div class="col-md-12 col-lg-12">
				<div class="form-group mb-0">
					<div class="input-group mb-15 search-dronem-01"> <span class="input-group-btn">
						<button type="button" class="btn  btn-danger btn-search-dm-typem"><i class="fa fa-search"></i></button>
						</span>
						<input type="text" id="txtSearchUser" name="txtSearchUser" class="form-control" placeholder="Buscar">
					</div>
				</div>
				<div class="panel-wrapper collapse in">
					<div  class="panel-body row pa-0">
						<div class="table-wrap">
							<div class="table-responsive">
							  <table id="tblUsuario" class="table table-hover mb-0" style="width:100%">
								<thead>
								  <tr>
									<th>#</th>
									<th>Usuario Gestor</th>
									<th>Alias</th>
								</tr>
								</thead>
								<tbody>
								  <tr>
									<td></td>
									<td></td>
									<td></td>
								  </tr>	
								</tbody>
							  </table>
							</div>

						</div>
						<div id="newpPaginsUser" class="dataTables_wrapper dt-bootstrap4 no-footer pb-4">
						</div>
						<div class="dataTables_wrapper dt-bootstrap4 no-footer pb-4" >
							<div class="row form-group">
								<div class="col-lg-6 col-md-12">
								</div>
								<div class="col-lg-3 col-md-12">
								</div>
								<div class="col-lg-3 col-md-12 text-center">
									<a href="#" class="btn btn-dark dm-close-all-02">Todos</a>
									<a href="#" class="btn btn-dark dm-close-window-02">Retornar</a>
								</div>
							</div>
						</div>
					</div>	
				</div>				
			</div>
		</div>
	</div>

{% endblock %}




{% block contentSnoopy %}

	<!-- Row -->
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
           <div class="panel panel-default card-view panel-refresh">
				<div class="refresh-container">
					<div class="la-anim-1"></div>
				</div>
				<div class="panel-heading">
					<div class="pull-left">
						<h4 class="panel-title txt-dark">Reporte-Resultado de la misión</h4>
						<h5 class="panel-sub-title txt-dark">Puede Generar el resultado de la misión en un PDF</h5>
					</div>
					{#<div class="pull-right">
						<a href="#" class="pull-left inline-block refresh">
							<i class="zmdi zmdi-replay"></i>
						</a>
					</div>#}
					<div class="clearfix"></div>
				</div>
				<div class="panel-wrapper collapse in">
					<div  class="panel-body row pa-0">
						<form action="/reportes/rpt01" method="post" autocomplete="off" name="frm_report01">
							<div class="row" style="margin:0px 0px;">
								<div class="col-lg-6 col-lg-12 col-sm-12" style="padding:2rem 2rem">
									<div class="form-group label-floating is-focused">
										<label for="fecha_inicio" class="control-label" >Indique fecha Inicio:</label>
										<input type="date" name="fecha_inicio" id="fecha_inicio" autocomplete="off" class="form-control" value="" />
									</div>									
								</div>
								<div class="col-lg-6 col-lg-12 col-sm-12" style="padding:2rem 2rem">
									<div class="form-group label-floating is-focused">
										<label for="fecha_final" class="control-label" >Indique fecha Final:</label>
										<input type="date" name="fecha_final" id="fecha_final" autocomplete="off" class="form-control" value="" />
									</div>
								</div>
							</div>
							<div class="row" style="margin:0px 0px;">
								<div class="col-lg-12 col-sm-12 col-sm-12">
									<p>El documento Excel solo incluirá las misiones que se hayan finalizado por el administrador.</p>
								</div>
							</div>

							<div class="row" style="margin:0px 0px;">
								<h5 class="title-box-01">Filtrar por:</h5>
								<div class="col-lg-4 col-md-12  ">
									<div class="input-group">
										<span class="input-group-btn">
											<button type="button" class="btn  btn-danger dm-button-search" id="search_client"><i class="fa fa-search"></i></button>
										</span>									
										<div class="form-group label-floating is-empty">
											<label for="id_cliente" class="control-label">Identificación:</label>
											<input type="text" id="id_cliente" name="id_cliente"  class="form-control" autocomplete="off"  readonly /> 
										</div>
									</div>
								</div>
								<div class="col-lg-8 col-md-12">
									<div class="form-group label-floating is-empty">
										<label for="compania" class="control-label" >Nombre de Empresa:</label>
										<input type="text" id="compania" name="compania" autocomplete="off" class="form-control" disabled /> 
									</div>
								</div>
							</div>
							<div class="row" style="margin:0px 0px;">
								<div class="col-lg-4 col-md-12  ">
									<div class="input-group">
										<span class="input-group-btn">
											<button type="button" class="btn  btn-danger dm-button-search" id="search_user"><i class="fa fa-search"></i></button>
										</span>									
										<div class="form-group label-floating is-empty">
											<label for="id_usuario" class="control-label">Identificación:</label>
											<input type="text" id="id_usuario" name="id_usuario"  class="form-control" autocomplete="off"  readonly /> 
										</div>
									</div>
								</div>
								<div class="col-lg-8 col-md-12">
									<div class="form-group label-floating is-empty">
										<label for="nombres" class="control-label" >Nombre Gestor:</label>
										<input type="text" id="nombres" name="nombres" autocomplete="off" class="form-control" disabled /> 
									</div>
								</div>
							</div>							

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding:2rem 2rem">
									<button type="submit" class="btn btn-dark">Generar Excel</button>
									<a  href="/" class="btn btn-dark">Volver</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footerScripts %}
	 {{ parent() }}
	<!--<script src="/vendors/bower_components/datatables/media/js/dataTables.bootstrap4.js"></script>-->
	<script src="/web/dinamic/js/prg_reports.js"></script>

	<script type="text/javascript">
		var stop_list = false;

		$.material.init();
	</script>

	<style type="text/css">
		select option {
			color:#747474;
		}
		.input-group-btn .dm-button-search {
			color:#fff !important;
			margin-top: 2.3rem;
		}
		.input-group-btn .dm-button-search:hover {
			background-color:#1c4942 !important;
		}
		.title-box-01 {
			margin-top: 1.1rem;
			margin-left: 1rem;
			margin-bottom: 1rem;
		}
		
	</style>

{% endblock %}