<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>DronesMaritime</title>
	<meta name="description" content="Sistema para controlar expericiones marinas." />
	<meta name="keywords" content="drones,maritime,clientes,misiones,pilotos,gestor" />
	<meta name="author" content="Ivan A."/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="/web/dinamic/imagen/dm.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendors/bower_components/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="/vendors/bower_components/sweetalert/dist/sweetalert2.css" rel="stylesheet" type="text/css"/>
	
	<!-- Toast CSS -->
	<link href="/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
	<link href="/vendors/bower_components/bootstrap/dist/css/bootstrap-material-design.min.css" rel="stylesheet" type="text/css">
	{#<link href="/vendors/bower_components/bootstrap/dist/css/ripples.min.css" rel="stylesheet" type="text/css">
	<link href="/vendors/bower_components/bootstrap/dist/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css">#}

	<!-- Custom CSS -->
	<link href="/web/dist/css/style.css" rel="stylesheet" type="text/css">



