{% extends "template/base1.html.twig" %}

{#{ include('template/base1.html.twig') }#}

{% block  headerScripts %}
  <!--<link href="/vendors/bower_components/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">-->

{% endblock %}	

{% block contentSnoopy %}
	<!-- Row -->
	<form action="/vehiculos/salvar" method="post" autocomplete="off" name="frm_tow" data-type="n01">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="panel panel-light card-view panel-refresh dronesmaritime-form-standar">
				<div class="refresh-container">
					<div class="la-anim-1"></div>
				</div>
				<div class="panel-heading">
					<div class="pull-left">
						<h4 class="panel-title txt-dark">NUEVO VEHÍCULO</h4>
						<h5 class="panel-sub-title txt-dark">Especifique el vehiculo de expedición.</h5>
					</div>
					{#<div class="pull-right">
						<a href="#" class="pull-left inline-block refresh">
							<i class="zmdi zmdi-replay"></i>
						</a>
					</div>#}
					<div class="clearfix"></div>
				</div>
				<div class="panel-wrapper collapse in">
					<div  class="panel-body">
						<div class="form-wrap">
							<div class="row">
								<div class="col-lg-6 col-md-12 ">
									<div class="form-group label-floating is-empty">
										<label for="modelo" class="control-label">Modelo:</label>
										<input type="text" id="modelo" name="modelo"  class="form-control" autocomplete="off" /> 
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group label-floating is-empty">
										<label for="matricula" class="control-label" >Matricula:</label>
										<input type="text" id="matricula" name="matricula" autocomplete="off" class="form-control"/> 
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 ">
									<div class="form-group label-floating is-empty">
										<label for="responsable" class="control-label">Responsable:</label>
										<input type="text" id="responsable" name="responsable"  class="form-control" autocomplete="off" /> 
									</div>
								</div>
							</dir>
						</div>
					</div>	
				</div>
			</div>
		</div>

    </div>


    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group text-center">
				<button type="submit" class="btn btn-dark btn-rounded" id="addRegister">Guardar</button>
				<a href="/vehiculos"  class="btn btn-dark btn-rounded" id="addRegister">Cancelar</a>
				<input type="hidden" name="token_id" value="{{ token_id }}" class="form-control" />
			</div>
		</div>
    </div>
	</form>

{% endblock %}

{% block footerScripts %}
	<!--<script src="/vendors/bower_components/datatables/media/js/dataTables.bootstrap4.js"></script>-->
	<script src="/web/dinamic/js/prg_tow.js"></script>

	<script type="text/javascript">
		$.material.init();
		var stop_list = true;
		{% if (action_system=='display') %}
		$.toast({
			heading: 'Ocurrió un problema!!',
			text: '{{ msgSystem }}',
			position: 'top-right',
			loaderBg:'#e6b034',
			icon: 'error',
			hideAfter: 3500, 
			stack: 6
		})
		{% endif %}

	</script>

{% endblock %}