{% extends "template/base1.html.twig" %}

{#{ include('template/base1.html.twig') }#}

{% block contentSnoopy %}

	<!-- Row -->
	<div class="row" style="margin-top:5rem;">
		
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
           <div class="panel panel-default card-view panel-refresh">
					<div class="refresh-container">
						<div class="la-anim-1"></div>
					</div>
					<div class="panel-heading">
						<div class="pull-left">
							<h4 class="txt-dark">Widget 1</h4>
						</div>
						<div class="pull-right">
							<!--<a href="#" class="pull-left inline-block refresh">
								<i class="zmdi zmdi-replay"></i>
							</a>-->
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<p>En Desarrollo</p>
						</div>	
					</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
           <div class="panel panel-default card-view panel-refresh">
					<div class="refresh-container">
						<div class="la-anim-1"></div>
					</div>
					<div class="panel-heading">
						<div class="pull-left">
							<h4 class="txt-dark">Widget 2</h4>
						</div>
						<div class="pull-right">
							<!--<a href="#" class="pull-left inline-block refresh">
								<i class="zmdi zmdi-replay"></i>
							</a>-->
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<p>En Desarrollo</p>
						</div>	
					</div>
			</div>
		</div>
	</div>



{% endblock %}